---
import { MdOutlineTravelExplore } from 'react-icons/md';
import { RiCustomerService2Fill } from 'react-icons/ri';
---

<section class='max-w-[1240px] mx-auto grid lg:grid-cols-3 gap-4 px-4 py-16'>
  <div class='lg:col-span-2 flex flex-col justify-evenly'>
    <div>
      <h2>LUXURY INCLUDED VACATIONS FOR TWO PEOPLE</h2>
      <p class='py-4'>
        Come experience the very pinnacle of luxury Caribbean all-inclusive
        vacations for couples at BEACHES Resorts. Our luxury beach resorts, set
        along the most gorgeous tropical settings and exquisite beaches in Saint
        Lucia, Jamaica, Antigua, The Bahamas, Grenada, Barbados and Curaçao,
        feature unlimited gourmet dining, unique bars serving premium liquors
        and wines, and every land and water sport, including complimentary green
        fees at our golf resorts and certified scuba diving at most resorts. If
        you are planning a wedding, BEACHES is the leader in Caribbean
        destination weddings and honeymoon packages.
      </p>
    </div>
    <div class='grid sm:grid-cols-2 gap-8 py-4'>
      <div class='flex flex-col lg:flex-row items-center text-center'>
        <button>
          <RiCustomerService2Fill size={50} />
        </button>
        <div>
          <h3 class='py-2'>LEADING SERVICE</h3>
          <p class='py-1'>ALL-INCLUSIVE COMPANY FOR 20 YEARS IN-A-ROW</p>
        </div>
      </div>
      <div class='flex flex-col lg:flex-row items-center text-center'>
        <button>
          <MdOutlineTravelExplore size={50} />
        </button>
        <div>
          <h3 class='py-2'>LEADING SERVICE</h3>
          <p class='py-1'>ALL-INCLUSIVE COMPANY FOR 20 YEARS IN-A-ROW</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class='border text-center'>
      <p class='pt-2'>GET AN ADDITIONAL 10% OFF</p>
      <p class='py-4'>12 HOURS LEFT</p>
      <p class='bg-gray-800 text-gray-200 py-2'>BOOK NOW AND SAVE</p>
    </div>
    <form class='w-full'>
      <div class='flex flex-col my-2'>
        <label>Destination</label>
        <select class='border rounded-md p-2'>
          <option>Grande Antigua</option>
          <option>Key West</option>
          <option>Maldives</option>
          <option>Cozumel</option>
        </select>
      </div>
      <div class='flex flex-col my-4'>
        <label>Check-In</label>
        <input class='border rounded-md p-2' type='date' />
      </div>
      <div class='flex flex-col my-2'>
        <label>Check-Out</label>
        <input class='border rounded-md p-2' type='date' />
      </div>
      <button class='w-full my-4'>Rates & Availabilities</button>
    </form>
  </div>
</section>
